.block-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;

  .item {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;

    &-img {
      width: 15%;
    }

    &-text {
      width: 85%;

      span {
        font-family: Lato, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: #394b50;
        text-transform: uppercase;
      }

      p {
        font-family: OpenSans, sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color: #7b7b7b;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 1095px) {
  .block-services {
    .item {
      &-img {
        width: 20%;
      }

      &-text {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 795px) {
  .block-services {
    flex-direction: column;

    .item {
      width: 100%;

      &-img {
        width: 15%;
      }

      &-text {
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .block-services {
    .item {
      &-img {
        width: 25%;
      }

      &-text {
        width: 75%;
      }
    }
  }
}